.tabs {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  z-index: 100;

  .tab, .tab-mask, .tab-content {
    position: relative;
    width: 25rem;
    height: 5.4rem;
    border-radius: 5rem;
  }

  .tab-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in;
    @include font-bold(1.6);
    cursor: pointer;

    .desktop &:hover, .desktop &:focus  {
      transform: scale(1.15);
      transition: transform 0.5s ease-out;
    }
  }

  .tab-content {
    background-color: white;
    width: 30rem; // Needs to be bigger due to elastic ease
    padding-right: 5rem;
  }

  .tab-content, .tab-mask {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 5rem;
  }

  .tab-mask {
    box-shadow: 0 0 2.5rem 0 rgba(50,50,50,0.3);
  }

  .tab {
    margin: 0 2.5rem;
    opacity: 1 !important;
    text-transform: initial;
    cursor: pointer;

    span {
      padding-right: 0.5rem;
      color: $darkGrey;
    }

    .tab-content {
      @include flex-center;
      border-radius: 5rem;
      overflow: hidden;
    }

    &.selected {
      color: #63A1E6;
      cursor: default;

      .tab-wrapper {
        transform: scale(1.1);
        transition: transform 0.5s ease-out;
      }
    }

    .tab-icon {
      margin-right: 0.5rem;


      .ie11 &, .tablet & {
        svg {
          margin-top: 0.2rem;
          width: 2rem;
          height: 1.5rem;
          stroke-width: 0.2rem !important;
        }

        &.category-all svg {
          width: 2rem !important;
          height: 1.4rem !important;
          margin-bottom: 0.25rem;
        }
      }

      &.category-chill {
        margin-bottom: 0.15rem;
      }

      .tablet & {
        margin-right: 0.5rem;
      }

      &.category-all {
        @include flex-center;
        margin-right: 0;

        svg {
          width: 2.35rem !important;
          height: 2.35rem !important;
        }
      }
    }
  }

  .tablet & {
    .tab, .tab-mask, .tab-content {
      width: 18.65rem;
      height: 4rem;
    }

    .tab-content {
      width: 18.65rem;
      padding-right: 0;
    }

    .tab {
      margin: 0 1.875rem;
      @include font-bold(1.35);
    }
  }
}
