.activity-item {
  $circumference: 16.8rem;
  width: $circumference;
  margin: 2rem 3.67rem 3.5rem;
  text-align: center;
  cursor: pointer;

  &.disabled:not(.selected) {
    cursor: default;
  }

  .firefox & {
    @include border-focus-ring;
  }

  .activity-icon {
    position: relative;
    width: 100%;
    z-index: 2;
    cursor: pointer;

    .activity-icon-content {
      position: relative;
      z-index: 1;
      width: 100%;
      transition: transform 0.3s ease-out;

      &:after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
      }
    }

    .dotted-circle {
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0) scale(1);
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease-out;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .speed-circle {
      position: absolute;
      top: 1rem;
      right: -1rem;
      z-index: 100;
    }

    .trash-icon {
      @include flex-center;
      position: absolute;
      border: solid 1px $darkGrey;
      right: -0.5rem;
      bottom: 2.1rem;
      margin: auto;
      width: 4.2rem;
      height: 4.2rem;
      background-color: $white;
      border-radius: 50%;
      z-index: 10;
      opacity: 0;
      transform: scale(0);
      transition: opacity 0.3s ease-out, transform 0.3s ease-out;
      visibility: hidden;

      svg {
        stroke: $darkGrey;
        width: 2.3rem;
        height: 2.3rem;
      }
    }

    .selection-overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
      z-index: 1;
      pointer-events: none;

      &.activity-sweat {
        &:before, &:after {
          @include apply-noise($sweatColor);
        }
      }

      &.activity-sit {
        transition: opacity 0.3s ease-out;

        &:before, &:after {
          @include apply-noise($sitColor);
        }
      }

      &.activity-step {
        &:before, &:after {
          @include apply-noise($stepColor);
        }
      }

      &.activity-sleep {
        &:before, &:after {
          @include apply-noise($sleepColor);
        }
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      &.front {
        z-index: 5;
        opacity: 0.8;
        transition: opacity 0.3s ease;
        visibility: hidden;
      }
    }

    .icon-container {
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      width: 15.5rem;
      background-color: white;
      z-index: 2;
      transition: transform 0.4s cubic-bezier(0.48, 0.00, 0.01, 1.00);
      transform: translate3d(-50%, -50%, 0) scale(1);
      box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);
      overflow: hidden;

      &:after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
      }

      svg {
        @include center;
        position: absolute;
        margin: auto;
        width: 110%;
        height: 110%;
      }
    }
  }

  p {
    position: relative;
    font-family: OpenSans-Bold;
    color: $darkGrey;
    margin-top: 0.7rem;

    span {
      display: block;
      transition: opacity 0.3s ease, transform 0.3s ease;
    }
  }

  &.selected {
    .selection-overlay.back {
      opacity: 1;
      transform: scale(1);
    }

    .selection-overlay.front {
      opacity: 0.8;
      visibility: visible;
    }

    .icon-container {
      transform: translate3d(-50%, -50%, 0) scale(0.9498349835);
    }

    .trash-icon {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
    }

    .dotted-circle {
      transform: translate3d(-50%, -50%, 0) scale(0.5);
    }
  }

  .desktop & {
    &:not(.selected):not(.disabled) .activity-icon:hover {
      .icon-container {
        transform: translate3d(-50%, -50%, 0) scale(1.05);
      }

      & + p span {
        transform: translateY(1.5rem);
        opacity: 0.5 !important;
      }

      .dotted-circle {
        transform: translate3d(-50%, -50%, 0) scale(0.5);
      }
    }

    &.selected .activity-icon:hover {
      .selection-overlay.front {
        opacity: 0.8;
      }
    }
  }

  .mobile & {
    .selection-overlay {
      &.front {
        display: none;
      }

      &.back {
        transition: all 0.3s ease;
      }
    }

    &.selected {
      .selection-overlay {
        opacity: 1;
        &.back {
          transform: scale(1.05) !important;
        }
      }
    }
  }

  .mobile & {
    .trash-icon {
      display: none;
    }
  }

  .tablet & {
    width: 13.85rem;
    margin: 2.8rem 2.4rem 0 2.4rem;

    &, * {
      user-select: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }

    .icon-container {
      width: 12.8rem;
    }

    .speed-icon-container {
      opacity: 1;
      transform: rotate(-45deg);

      .speed-circle {
        width: 4rem;
        height: 4rem;
        right: -2rem;
        transform: rotate(45deg);
        box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);

        svg {
          width: 2rem;
          height: 2rem;
        }
      }
    }

    .activity-icon {
      width: 13.85rem;
    }

    &.selected {
      .icon-container {
        transform: translate3d(-50%, -50%, 0) scale(0.95);
      }
    }
  }

  .phone & {
    width: 13rem;
    margin: 2.8rem 2rem 0 2rem;

    &, * {
      user-select: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }

    .dotted-circle {
      bottom: 1rem;
    }

    .selection-overlay.back {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 92%;
      height: 92%;
      transform: scale(0.9);
    }

    .speed-circle {
      top: 0.5rem;
      right: -0.5rem;
    }


    .icon-container {
      width: 11rem;
    }

    p {
      margin-top: 2rem;
    }
  }
}
