.activity-grid {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 70.37037037vh;
  @include gpu;

  .drawer-top {
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 101%;
    height: 55rem;
    fill: white;
  }

  .tabs {
    position: absolute;
    left: 0;
    top: 0;
  }

  .grid-wrapper {
    position: relative;
    height: 100%;

    &:after {
      content: '';
      background-color: white;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60vh;
    }
  }

  .grid-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    overflow: hidden;

    .top-mask {
      content: '';
      position: absolute;
      top: 0rem;
      left: 0;
      width: 100%;
      height: 0rem;
      box-shadow: 0px 0rem 5rem 5rem rgba(255,255,255,1);
      z-index: 90;
    }
  }

  .grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 6rem 10rem 6rem 11rem;
    overflow-y: scroll;
  }

  .tablet & {
    .grid {
      padding: 3.5rem 4.5rem 3rem 4.5rem;
    }

    .drawer-top {
      height: 39rem;
      top: 2.5rem;
    }
  }



  .phone & {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100% - 20rem);

    .grid-wrapper {
      flex: 1;

      &:after {
        height: 100%;
      }
    }

    .top-mask {
      display: none;
    }

    .grid {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0rem 1.5rem 5rem 1.5rem;
      overflow-x: hidden;

      .activity-item:last-child {
        margin-bottom: 10rem;
      }
    }

    .grid-dropdown {
      z-index: 100;
    }
  }

  .android & {
    height: calc(100% - 14rem);
  }
}
